
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box; /* default box model */
}

/* basic elements */

html,body {
    height: 100%;
    margin: 0;
}

input {
    border: 0;
    padding: .3rem;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    background-color: transparent;
}

.note-header {
    -webkit-app-region: drag; 
    user-select: none;
}

button {
    -webkit-app-region: no-drag;
}

/* flexbox display */
.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .note-content {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .note-content .note-title {
  flex: 0 1 2rem;
}

.box .note-content .note-body {
  flex: 1 1 auto;
}

/* sections */
.note-header {
    position: relative;    
    /*border: 4px dashed red;*/
}

.note-content {    
    overflow-y: auto;
}

.note-title {
    position: relative;
    user-select: none;
    margin: 4px;
    /*outline: 4px dashed blue;    */
}

.note-body {
    position: relative;
    margin: 0 .5rem;
    /*border: 4px dashed green;*/
}

.note-editcontent {
    position: absolute;
    right: 0; left: 0; top: 0; bottom: 0;
}
.note-editcontent:focus {
    outline: 0;
}

/* elements */

#btnNew {
    float: left; 
    border: 0;  
    background-color: transparent; 
}
#btnNew::before {
    content: '+';
    font-size: 2rem;
    padding: 0.4rem;
    line-height: 1.5rem;
}

#btnClose {
    float: right;
    border: 0;
    background-color: transparent;
}
#btnClose::before {
    content: '\2715';
    font-size: 1.2rem;
    padding: 0 0.5rem;
    line-height: 2rem;
}

/* Colors */
#btnNew:hover, #btnClose:hover {
    background-color: darkorange;
}

body {
    background-color: rgb(255,242,181);
}

input:focus {
    background-color: rgb(255,250,230);
}

.note-header-focus {
    background-color: rgba(180,180,120,.9);
}

.show-header {
    visibility: visible;
}

.hide-header {
    visibility: hidden;
}

